.single-services-box .icon {
    margin-bottom: 18px;
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #d0dcff;
    border-radius: 50%;
    color: #074ece;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-services-box .icon.bg-cefffe {
    background-color: #cefffe;
    color: #09c4c1;
}

.single-services-box .icon.bg-cefffe img {
    width: 100%;
}

.single-services-box {
    text-align: center;
    margin-bottom: 30px;
    background-color: #f6fdfd;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
    padding: 25px;
}

.single-services-box p {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 13px;
    margin-bottom: 0;
}

.text-float-left {
    text-align: left;
}

.single-services-box h3 {
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 700;
}

.loader {
    border: 6px solid #f3f3f3;
    /* Light grey */
    border-top: 6px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blog-details .image img {
    width: 100%;
}

.custom-form-control {
    width: auto;
    display: inline;
    height: calc(1.25em + 1.4rem + 1px);
    padding: 0.7rem 0.7rem;
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1.25;
    color: #4E5154;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}